<h1>Sign Up</h1>

<form action="/signUp" method="post">

  <div>
    <label for="username">User name</label>
  </div>

  <div>
    <input type="text" name="username" id="username" />
  </div>

  <br/>

  <div>
    <label for="passwordInput">Password</label>
  </div>
  <div>
    <input type="password" name="password" id="passwordInput" />
  </div>
  
  <br/>
  <button type="submit">Sign up!</button>

</form>